/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
#upload {
    opacity: 0;
}

#upload-label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}

.image-area {
    border: 2px dashed rgba(255, 255, 255, 0.7);
    padding: 1rem;
    position: relative;
}

.image-area::before {
    content: 'Uploaded image result';
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
    z-index: 1;
}

.image-area img {
    z-index: 2;
    position: relative;
}

/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/
body {
    min-height: 100vh;
    background-color: #222;
    background-image: linear-gradient(147deg, #222 0%, #444 100%);
    color: #fff;
}

.input-group,
.form-control {
    background-color: #333;
    color: #fff;
    border-color: #555;
}

.input-group-append .btn-light,
.btn-primary {
    background-color: #555;
    color: #fff;
    border-color: #555;
}

.input-group-append .btn-light:hover,
.btn-primary:hover {
    background-color: #777;
    border-color: #777;
}

#ocrResult {
    background-color: #444;
    padding: 10px;
    border-radius: 4px;
    width: 100%;
    white-space: pre-wrap;
}

#ocrResult::selection {
    background-color: #555;
}

#ocrResult::-moz-selection {
    background-color: #555;
}

#ocrResult::-webkit-selection {
    background-color: #555;
}

.btn-primary i.fa-spin::before {
    content: "";
    border-radius: 50%;
    display: inline-block;
    width: 1em;
    height: 1em;
    animation: fa-spin 0.7s infinite linear;
    border: .15em solid currentColor;
    border-color: currentColor transparent transparent transparent;
}

/* Additional styles to make the result area use more horizontal space */
.row.py-4 {
    justify-content: center;
}

.col-lg-12 {
    display: flex;
    justify-content: center;
}
.btn-primary.processing,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:hover {
    outline: none;
    box-shadow: none;
    background-color: #555 !important;
    border-color: #555 !important;
}

.btn-primary.processing,
.btn-primary.processing:focus,
.btn-primary.processing:active {
    background-color: #555 !important;
    border-color: #555 !important;
}

.btn-primary.processing:hover {
    background-color: #777 !important;
    border-color: #777 !important;
}

.btn-primary.processing i.fa-spin::before {
    border-color: currentColor transparent transparent transparent;
}




